* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,.font-inter {
  font-family: "Inter", sans-serif;
    
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.btn {
    padding: 12.5px 16px;
    background: #469165;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem; 
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.btn:hover {
    border: 1px solid transparent;
    background: #3a7a55;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 10px rgba(57,105,77,0.36);
}

.btn i {
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn:hover i {
    transform: translateX(4px);
}

.btn:active {
    background: #29583d;
    transform: scale(0.95);
}

.btn-outined{
    background: transparent;
    border: 1px solid #fff;
    
}