* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
.font-inter {
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.btn {
  text-transform: capitalize;
  padding: 12.5px 16px;
  background: #469165;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease, border 0.3s ease;
}

.btn:hover {
  border: 1px solid transparent;
  background: #3a7a55;
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 8px 10px rgba(57, 105, 77, 0.15);
}

.btn i {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover i {
  transform: translateX(4px);
}

.btn:active {
  background: #29583d;
  transform: scale(0.95);
}

.btn-outined {
  background: transparent;
  border: 1px solid #fff;
}
.btn-outined:hover i {
  transform: translateX(-4px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.mt-120{
    margin-top: 120px;
}
/* main start */
header nav {
  padding: 16px 0;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}
header nav .logo a img {
  max-width: 139px;
}

header nav ul {
  gap: 32px;
  align-items: center;
}
header nav ul li a {
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #29583d;
}

.hero-section{
    background: url(../assets/hero-bg.png)center center / cover no-repeat;
    padding: 115px 0 180px;
}
.hero-section .container.flex{
    justify-content: center;
    align-items: center;
    

}
.hero-con{
    flex-direction: column;
    align-items: center;
    max-width: 770px;
    gap: 16px;
    justify-content: center;
    text-align: center;

}
.hero-con h1{
    font-size: 72px;
    text-transform: capitalize;
    color: #fff;
    line-height: 84px;
    
}
.hero-con h1 span{
    color: #30B868;
}
.hero-con p{
    line-height: 38px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 16px;
}
/* early access part */
.early-access-box{
    background: #fff;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 50px;
    width: max-content;
}
.early-access-box p{
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 0px;
}
.early-access-box .box-flex{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.early-access-box .box1{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(48, 184, 104,0.2);
}
.early-access-box .box2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(48, 184, 104,0.4);
}
.early-access-box  .box3{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(48, 184, 104,1);
}
.btn-container{
    gap: 16px;
}

