* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
.font-inter {
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.btn {
  text-transform: capitalize;
  padding: 12.5px 16px;
  background: #469165;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #469165;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease, border 0.3s ease;
}

.btn:hover {
  border: 1px solid transparent;
  background: #3a7a55;
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 8px 10px rgba(57, 105, 77, 0.15);
}

.btn i {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover i {
  transform: translateX(4px);
}

.btn:active {
  background: #29583d;
  transform: scale(0.95);
}

.btn-outined {
  background: transparent;
  border: 1px solid #fff;
}
.btn-outined:hover i {
  transform: translateX(-4px);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.mt-120 {
  margin-top: 120px;
}
/* main start */
header nav {
  padding: 16px 0;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}
header nav .logo a img {
  max-width: 139px;
}

header nav ul {
  gap: 32px;
  align-items: center;
}
header nav ul li a {
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #29583d;
}

.hero-section {
  background: url(../assets/hero-bg.png) center center / cover no-repeat;
  background-attachment: fixed;
  padding: 121px 0 180px;
}
.hero-section .container.flex {
  justify-content: center;
  align-items: center;
}
.hero-con {
  flex-direction: column;
  align-items: center;
  max-width: 770px;
  gap: 16px;
  justify-content: center;
  text-align: center;
}
.hero-con h1 {
  font-size: 72px;
  text-transform: capitalize;
  color: #fff;
  line-height: 84px;
}
.hero-con h1 span {
  color: #30b868;
}
.hero-con p {
  line-height: 38px;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 16px;
}
/* early access part */
.early-access-box {
  background: #fff;
  gap: 6px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 50px;
  width: max-content;
}
.early-access-box p {
  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 0px;
}
.early-access-box .box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.early-access-box .box1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(48, 184, 104, 0.2);
}
.early-access-box .box2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(48, 184, 104, 0.4);
}
.early-access-box .box3 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(48, 184, 104, 1);
}
.btn-container {
  gap: 16px;
}

#next-sec {
  padding: 60px 0 120px;
  background: #fbfbfb;
}
#next-sec h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  color: #001931;
  text-transform: capitalize;
}
#next-sec p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}
#next-sec .flex {
  justify-content: space-between;
}
#next-sec .flex .next-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
  max-width: 322px;
  padding: 69.5px 24px;
  text-align: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border: 1px solid #fff;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#next-sec .flex .next-card h4 {
  font-size: 24px;
  text-transform: capitalize;
  color: #001931;
  font-weight: 600;
  margin-bottom: 0;
}
#next-sec .flex .next-card p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  font-weight: 400;
}
#next-sec .flex .next-card:hover {
  border: 1px solid #f955557a;
  transform: translateY(-5px) scale(1.04);
}

.img-box {
  border-radius: 50%;
  background: #f95555;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
}
.img-box img {
  max-width: 32px;
}
#solution-sec .flex {
  gap: 60px;
  align-items: center;
}

#solution-sec .flex .sol-image {
  width: 600px;
}
#solution-sec .flex .sol-image img {
  width: 100%;
}
#solution-sec .flex .sol-con {
  max-width: 700px;
}
#solution-sec .flex .sol-con small {
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
  display: inline-block;
}
#solution-sec .flex .sol-con h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: capitalize;
  max-width: 600px;
}
#solution-sec .flex .sol-con p {
  max-width: 480px;

  color: #627382;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

#solution-sec .flex .sol-con ul li {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  color: #001931;
  display: flex;
  gap: 6px;
  align-items: center;
}

.think-con {
  background: #f7f6f2;
  padding: 80px 40px;
  border-radius: 12px;
  text-align: center;
}
.think-con h3 {
  text-transform: capitalize;
  color: #001931;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.think-con p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.think-con p:first-of-type {
  margin-bottom: 24px;
}
.think-con .btn {
  margin-bottom: 16px;
}

footer {
  background: #001931;
}
footer .flex {
  justify-content: space-between;
}
footer .footer-content {
  padding: 120px 0 80px;
  border-bottom: 1px solid #d9d9d97f;
}
footer .social-icons {
  width: 220px;
}

footer .social-icons h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.icons a {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background: #fff;
  color: #000;
  margin-right: 8px;
  transition: all 0.4s ease-in-out;
}
.icons a:hover {
  background: #000;
  color: #fff;
  transform: translateY(-5px);
}

.icons a i {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  font-size: 11.7px;
}
#copyRight-sec p {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #fafafa;
}
